// $primary-color:rgb(170, 170, 170);  //#444
$primary-color : #444;
$diff-text : #1aeedc; //#eece1a
$show-home-image: true;
$show-image: $primary-color;
$background-opacity: 0.4;

@mixin easeOut {
    transition: all  .5s ease-out;  //@mixin used to create function in sass 
    
}

@mixin background {
    @if $show-home-image {
        &#bg-img{
            background: $show-image;
            background-attachment: fixed;
            background-size: cover;
        

        &::after{  // the layer on the screen  // after mean after #bg-img
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -2; // z-index push the layer behaind the content if - and over the content if + number  
            background: rgba($primary-color,$background-opacity);  
        }
    }
        
    }
    
}


// set text color 

@function set-text-color($color){
  @if(lightness($color) > 40){
    @return #000;
    
  } @else{ @return #fff;}
}

